OPENAI_API_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL_NAME=fara-1.5-XXb
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
PGVECTOR_URL=******postgres:5432/tekio
RABBITMQ_URL=******rabbitmq:5672/
