langchain[mcp]~=1.4.2
langchain-openai~=1.6.3
langchain_qwq~=0.3.5
langgraph~=1.2.12
playwright~=1.63.0
pgvector~=0.5.0
psycopg[binary]~=3.3.6
pika~=1.4.4
python-dotenv>=0.21.0
streamlit~=1.64.0
langchain-community~=0.4.2
langsmith~=0.14.0
fastmcp~=4.0.0
langgraph-api~=0.11.0
openai>=3.22.0
pydantic>=2.13.5
laya>=0.3.22
laya[langchain]
torch
torchvision